@model IEnumerable<ToDoAppRev1.Models.TaskList>

@{
    ViewBag.Title = "TaskList Index";
}

<div>
<h2>Index</h2>
<p> To display all the tasks for a particular tasklist, please select details</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskListName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskListName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskListID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskListID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskListID })
        </td>
    </tr>
}

</table>
</div>
<p>
    @Html.ActionLink("return to main page", "Index", "Home")
</p>